* { box-sizing: border-box; }
p, li { margin: 0 0 0.5em 0; }
ol, ul { margin: 0.5em 0; }
table { margin: 1em 0; }
th { text-align: left; }
th, td { padding: 4px 8px; vertical-align: top; }

input, button, textarea { font: inherit; outline: none; }
a { color: inherit; }
body {
  font: 18px/1.4em sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
h1 { font-size: 27px; padding-top: 27px; }
h2 { font-size: 23px; padding-top: 23px; }
h3 { font-size: 18px; padding-top: 18px; }
code, pre { background-color: #ffe; border-radius: 4px; color: #008; }
code { padding: 0 8px; }
pre { padding: 18px 36px; margin: 1em -36px; white-space: pre-wrap; word-break: break-word; }
pre > code { padding: 0; background: none; font-size: 16px; }
sup { vertical-align: baseline; position: relative; top: -6px; }

.fig { display: inline-block; width: calc(100% + 50px); margin: 1em -25px; }

.page, .footer_inner { width: 720px; margin: 0 auto;}

.footer { margin-top: 36px; height: 50px; }
.footer_inner > hr { width: 100px; border: none; height: 1px; background: #000; margin: 0 0 8px 0; }
.footer_inner { font-size: 15px; }

.menu { margin: 20px 0 0 20px; display: flex; justify-content: space-between; }
.menu_left { margin-left: -36px; }
.menu_left,
.menu_right { height: 50px; display: flex; align-items: center; }
.menu_right > a { margin-left: 16px; }

.menu_item { font-weight: bold; color: inherit; text-decoration: none; }
.menu_item:hover,
.menu_item:active,
.menu_item-selected { border-bottom: 2px solid currentColor; }
.menu_item-inside { border-bottom: 2px dotted currentColor; }

.nobullet > li { list-style-type: none; }

span.line { color: #ddc; }
span.string { color: #4e9a06; }
span.uuid { color: #069a4e; }
span.int { color: #109a4e; }
span.id { color: #729FDF; }
span.rmid { color: #a29FDF; }
span.derived_ref { color: #927Faf; }
span.ref { color: #4475B4; }
span.term { color: #AF5F00; }
span.comment { color: #a8a8a8; font-style: italic; }
span.str_span { color: #4e9a06; font-weight: bold; }
span.span { color: #a29FDF; font-weight: bold; }
