<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta name="viewport" content="width=640" />
  <link href="/i/favicon-32.png" rel="icon" sizes="32x32">
  <link href='/style.css?v=20190104' rel='stylesheet' type='text/css' />
  <title>{{ page.title }} — RON</title>

</head>
<body>
<div class="page {{ page.class }}">
  <div class="menu">
    <div class="menu_left">
      <a href="/"><img src="/i/logo.png" style="height: 50px"></a>
    </div>
    <div class="menu_right">
      <a href="/uuids/" class="menu_item{% if page.section == 'uuids' %} menu_item-selected{% endif %}{% if page.in_section == 'uuids' %} menu_item-inside{% endif %}">UUIDs</a>
      <a href="/specs/" class="menu_item{% if page.section == 'specs' %} menu_item-selected{% endif %}{% if page.in_section == 'specs' %} menu_item-inside{% endif %}">Specs</a>
      <a href="/impl/"  class="menu_item{% if page.section == 'impl'  %} menu_item-selected{% endif %}{% if page.in_section == 'impl'  %} menu_item-inside{% endif %}">Code</a>
      <a href="/rdts/"  class="menu_item{% if page.section == 'rdts'  %} menu_item-selected{% endif %}{% if page.in_section == 'rdts'  %} menu_item-inside{% endif %}">RDTs</a>
      <a href="/swarm/" class="menu_item{% if page.section == 'swarm' %} menu_item-selected{% endif %}{% if page.in_section == 'swarm' %} menu_item-inside{% endif %}">Swarm</a>
    </div>
  </div>
  {{ content }}
</div>
<div class="footer">
  <div class="footer_inner">
    <hr />
    © 2019 Victor Grishchenko &amp; Co; supported by&nbsp;<a href="http://protocol.ai"><img alt="Protocol Labs" style="height: 32pt; vertical-align: middle;" src="/protocol-labs-logo.png"/></a>
  </div>
</div>

</body>
</html>
